streamlit
openai
pinecone
python-dotenv
bcrypt
langdetect
tqdm
pandas
spacy==3.7.2
thinc==8.2.2
numpy<2.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
